.header {
  left:0;
  bottom:0;
  right:0;
}

.container {
  width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto
}

.logoLeft {
  margin-left: 0;
  padding-left: 0;
}

.logoMargin {
  margin-top: 10px;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
}

.content {
  margin-left: 40px;
  margin-top: 20px;
  padding-top: 10px;
  max-height: 450px;
  overflow-y: auto;
  padding-bottom:135px;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

h1 {
  color: #2F9B30;
}